.box {
    border: 1px solid #d4d4d4;
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.15);
    background-color: #fff;
    padding: 10px;
}

body {
    background-image: url('../img/cream_pixels.png');
}

.block {
    display: block;
}

#photos {
    display: inline-block;
    height: 525px;
    overflow-y: scroll;
}

.placeholder {
    width: 175px;
    height: 131px;
}

#canvases {
    display: inline-block;

}

#controls {
    display: block;
    margin-bottom: 5px;
}

#stream-container img {
    margin-bottom: 15px;
}

#frame-count-container {
    margin: 25px 0 0 10px;
    display: inline-block;
}

.range-label {
    padding: 0 10px 0 10px;
}

#error-message {
    font-size: 30px;
}