{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://www.eyecon.ro/bootstrap-slider/css/slider.css">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span12">
        <div class="box">
            <div id="controls">
                <button id="shutter-button" class="block btn btn-large"><i class="icon-camera"></i></button>
                <button id="save-button" class="block btn btn-large btn-primary" style="display: none;">Save</button>
                <button id="retry-button" class="block btn btn-large btn-danger" style="display: none;">Try again</button>
                <div id="frame-count-container">
                    <span class="range-label">5</span>
                    <input type="text" id="frame-count-slider" value="15" data-slider-min="5" data-slider-max="15"
                           data-slider-step="1" data-slider-value="15" data-slider-orientation="horizontal"
                           data-slider-selection="after">
                    <span class="range-label">15</span>
                </div>

                <span id="error-message"></span>
            </div>
            <div id="canvases">
            </div>
            <video id="video"></video>

            <div id="photos">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://www.eyecon.ro/bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="static/js/gifbooth.js"></script>
{% endblock %}